body {
  overflow-x: hidden;
  width: 100%; }
  body #homepage {
    background-image: linear-gradient(to right, white 55%, #0a7f2e 49%); }
    body #homepage .img1 {
      margin-left: -10px; }
    body #homepage .navbar .nav .nav-item .nav-link.active {
      color: #0a7f2e !important;
      font-size: 18px; }
    body #homepage .PLAY {
      transform: translateX(-116px); }
      body #homepage .PLAY img {
        width: 25px;
        height: 22px; }
    body #homepage .text {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0;
      color: black;
      transform: translateX(-104px); }
    body #homepage .text2 {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0;
      color: black;
      transform: translateX(-74px); }
    body #homepage .text3 {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0;
      color: black;
      transform: translateX(-44px); }
    body #homepage .text1 {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 19px;
      margin-top: 4px; }
    body #homepage .knopka1 {
      color: white !important;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 19px;
      text-align: left;
      background-color: transparent; }
    body #homepage #tablar {
      display: flex; }
      body #homepage #tablar .nav .nav-item {
        position: relative; }
        body #homepage #tablar .nav .nav-item .nav-link {
          height: 10px;
          width: 10px;
          border-radius: 50%;
          background-color: #cccccc;
          padding: 0;
          margin-left: 60px;
          margin-bottom: 20px;
          margin-top: 50px; }
          body #homepage #tablar .nav .nav-item .nav-link::before {
            content: "";
            position: absolute;
            right: 4px;
            height: 70px !important;
            width: 3px !important;
            background-color: grey;
            top: 60px; }
          body #homepage #tablar .nav .nav-item .nav-link.active {
            background-color: #0a7f2e; }
            body #homepage #tablar .nav .nav-item .nav-link.active::before {
              background-color: #0a7f2e; }
      body #homepage #tablar .tab-content .card {
        border: 0;
        margin-left: 40px; }
        body #homepage #tablar .tab-content .card h1 {
          margin-top: 200px;
          font-size: 40px;
          font-style: normal;
          font-weight: 700;
          line-height: 65px;
          letter-spacing: 0; }
        body #homepage #tablar .tab-content .card h6 {
          margin-top: 245px;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0;
          color: #bbbbbb; }
        body #homepage #tablar .tab-content .card p {
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 33px;
          letter-spacing: 0;
          opacity: 70%;
          margin-top: 40px; }
      body #homepage #tablar .tab-content .tab-pane .carousel {
        position: relative; }
        body #homepage #tablar .tab-content .tab-pane .carousel .carousel-indicators {
          position: absolute;
          bottom: -140px;
          right: -315px; }
          body #homepage #tablar .tab-content .tab-pane .carousel .carousel-indicators .kvadrat {
            height: 15px;
            width: 15px;
            background-color: rgba(255, 255, 255, 0.2);
            margin-right: 20px; }
            body #homepage #tablar .tab-content .tab-pane .carousel .carousel-indicators .kvadrat.active {
              background-color: white; }
        body #homepage #tablar .tab-content .tab-pane .carousel .carousel-inner {
          margin-left: 150px !important;
          margin-top: 148px !important; }
          body #homepage #tablar .tab-content .tab-pane .carousel .carousel-inner .carousel-item h2 {
            font-size: 35px;
            margin-top: 59px;
            font-style: normal;
            font-weight: 600;
            line-height: 42px;
            letter-spacing: 0;
            color: white; }
          body #homepage #tablar .tab-content .tab-pane .carousel .carousel-inner .carousel-item h5 {
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0;
            color: rgba(255, 255, 255, 0.7); }
          body #homepage #tablar .tab-content .tab-pane .carousel .carousel-inner .carousel-item .liner {
            height: 1px;
            width: 270px;
            background-color: white;
            margin-top: 11px;
            margin-bottom: 14px; }
      body #homepage #tablar .tab-content .tab-pane form {
        margin-top: 74px; }
        body #homepage #tablar .tab-content .tab-pane form input {
          height: 70px;
          background-color: white;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 19px; }
        body #homepage #tablar .tab-content .tab-pane form .input-group-text {
          background-color: #0a7f2e;
          font-size: 15px;
          font-style: normal;
          font-weight: 600;
          line-height: 18px;
          color: white; }

.sass::before {
  content: "";
  position: absolute;
  display: none; }

.bosh h3 {
  position: absolute;
  z-index: 2;
  transform: rotate(-90deg);
  font-family: "Apple Color Emoji";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 69px;
  letter-spacing: 0em;
  text-align: left;
  color: #dddddd;
  top: 660px;
  left: -80px; }
.bosh .liner2 {
  height: 100px;
  width: 4px;
  background-color: #dddddd;
  position: absolute;
  bottom: -568px;
  left: 61px; }

/*# sourceMappingURL=main.css.map */
